<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thymu"
    android:theme="@style/Theme.THYMU.NoActionBar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens>
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/thymulogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.THYMU">
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".WeekSpendingActivity"
            android:exported="true" />
        <activity
            android:name=".TodaySpendingActivity"
            android:exported="true" />
        <activity
            android:name=".MasterActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".Medicine"
            android:exported="true" />
        <activity
            android:name=".ReadMedicine"
            android:exported="true" />
        <activity
            android:name=".UpdatePop"
            android:exported="true"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".viewExpenseMain"
            android:exported="true"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".InsertMedicine"
            android:exported="true" />
        <activity
            android:name=".updateMedicine"
            android:exported="true" />
        <activity
            android:name=".viewMedicine"
            android:exported="true" />
        <activity
            android:name=".AddExpense"
            android:exported="true"
            android:label="@string/title_activity_geek"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".view_expenses"
            android:exported="true"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".expenses"
            android:exported="true"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".categories"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.THYMU.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.THYMU.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".person"
            android:theme="@style/Theme.THYMU.NoActionBar" />
    </application>

</manifest>